.manage {
  height: 100vh;
  .header {
    height: 18%;

    .headerTop {
      display: flex;
      justify-content: space-between;
      background: #0091ff;
      padding: 10px 20px;
      color: white;
      border-bottom: 2px solid white;
      .logo {
        display: flex;
        h2 {
          margin-right: 10px;
        }
      }
      .logout {
        button {
          background: white;
          color: #0091ff;
          padding: 10px;
          cursor: pointer;
          margin-left: 10px;
          border-radius: 50%;
        }
      }
    }
    .headerBottom {
      display: flex;
      justify-content: space-between;
      background: #0091ff;
      padding: 10px 20px;
      color: white;
      .left {
        display: flex;
        input {
          padding-left: 10px;
          background: white;
          padding: 10px;
          width: 500px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          // border-top: 1px solid rgba(gray,1);
          // border-left: 1px solid rgba(gray,1);
          // border-bottom: 1px solid rgba(gray,1);
        }
        button {
          background: white;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 0px 10px;
          cursor: pointer;
        }
      }
      .right {
        button {
          background: white;
          color: #0091ff;
          padding: 10px;
          cursor: pointer;
          margin-left: 10px;
          border-radius: 5px;
          font-weight: bold;
          i {
            padding-right: 5px;
          }
        }
      }
    }
  }
  .body {
    overflow-y: auto;
    height: 82%;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          position: sticky;
          top: 0;
          border-bottom: 1px solid black;
          background: #f2f2f2;
          th {
            text-align: left;
            padding: 10px 20px;
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid black;
          td {
            padding: 10px 20px;
          }
          :last-child {
            display: flex;
            align-items: center;
            button {
              background: #F44336;
              padding: 8px 20px;
              color: white;
              cursor: pointer;
              border-radius: 5px;
              i {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}
